<button type="button" data-bs-toggle="modal" data-bs-target="#errorModal" id="errorButton" class="btn btn-danger">
    Errores
</button>

<!-- Modal de errores -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p *ngFor="let error of errors">{{ error }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>